name: Tests

on:
  push:
    paths:
      - '**.php'
  pull_request:
    types:
      - opened
    paths:
      - '**.php'

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: php-actions/composer@v5

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        with:
          configuration: phpunit.xml
